* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto';
	background-image: url(images/patt.png);
	/*background-repeat: no-repeat;*/
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.row:after,.menu:after {
	content: "";
	display: block;
	clear: both;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}
[class*="col-"] {
	float: left;
}
.header {
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;
}
.menu li {
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
}
.menu li:last-child {
	border-right: 1px solid #2c71b8;
}
.menu a {
	display: block;
	text-decoration: none;
	color:#2c71b8;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 21px;
	font-weight: 300;
}
.menu a:hover {
	background: #2c71b8;
	color:white;
}
.logo {
	margin-top: 7px;
}

